@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100px;
  padding: 42px 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.header.fixed {
  padding: 10px 15px 0;
  height: 70px;
  background: url(../img/temlape.png) center/cover no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.search a i {
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease;
}

.search a i:hover {
  color: #c7b299;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.header__logo img {
  width: 65px;
  height: 56px;
}

.header__logo-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-link {
  display: flex;
}

.header__menu-link a {
  margin-right: 30px;
  color: #fff;
  transition: all 0.3s ease;
}

.header__menu-link a:hover {
  color: #c7b299;
}

.header__menu-link a:last-child {
  margin-right: 15px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-top: 100px;
  background: #464542;
  background: url(../img/bg1.png) center/cover no-repeat;
}

.header__title {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header__title h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.header__title h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 52px;
  margin: 15px 0 30px;
}

.header__title p {
  font-size: 16px;
  max-width: 543px;
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  display: block;
  padding: 20px 40px;
  margin: 55px auto 0;
  border-radius: 3px;
  background-color: #998675;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 14px;
  box-shadow: 0 3px 0 #736357;
  top: 0;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #a07e60;
  box-shadow: 0 3px 0 #6d5d50;
}

.btn:active {
  top: 2px;
  box-shadow: 0 1px 0 #6d5d50;
}

.header__burger {
  display: none;
}

.header__menu-link {
  display: flex;
  position: relative;
  z-index: 2;
}

.work {
  padding: 82px 0;
}

.work__blok {
  display: flex;
  flex-wrap: wrap;
}

.work__blok-item {
  text-align: center;
  width: 25%;
}

.work__img {
  background: url(../img/icon.png) center/cover no-repeat;
  width: 49px;
  height: 49px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.work__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 22px;
  margin-top: 30px;
}

.work__subtitle {
  max-width: 260px;
  color: #949494;
  margin-top: 26px;
  transition: all 0.3s ease;
}

.work__subtitle::after {
  content: '';
  display: block;
  background: #f1eee9;
  width: 70px;
  height: 3px;
  margin: 30px auto 0;
  transition: all 0.3s ease;
}

.work__blok-item:hover {
  cursor: pointer;
}

.work__blok-item:hover .work__img {
  background: url(../img/icons.png) center/cover no-repeat;
}

.work__blok-item:hover .work__title {
  color: #c7b299;
}

.work__blok-item:hover .work__subtitle::after {
  background: #c7b299;
}

.work__blok-item-twe {
  text-align: center;
  width: 25%;
}

.work__img-twe {
  background: url(../img/icon2.png) center/cover no-repeat;
  width: 49px;
  height: 49px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.work__blok-item-twe:hover {
  cursor: pointer;
}

.work__blok-item-twe:hover .work__img-twe {
  background: url(../img/icons2.png) center/cover no-repeat;
}

.work__blok-item-twe:hover .work__title {
  color: #c7b299;
}

.work__blok-item-twe:hover .work__subtitle::after {
  background: #c7b299;
}

.work__blok-item-three {
  text-align: center;
  width: 25%;
}

.work__img-three {
  background: url(../img/icon3.png) center/cover no-repeat;
  width: 49px;
  height: 49px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.work__blok-item-three:hover {
  cursor: pointer;
}

.work__blok-item-three:hover .work__img-three {
  background: url(../img/icons3.png) center/cover no-repeat;
}

.work__blok-item-three:hover .work__title {
  color: #c7b299;
}

.work__blok-item-three:hover .work__subtitle::after {
  background: #c7b299;
}

.work__blok-item-four {
  text-align: center;
  width: 25%;
}

.work__img-four {
  background: url(../img/icon4.png) center/cover no-repeat;
  width: 71px;
  height: 49px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.work__blok-item-four:hover {
  cursor: pointer;
}

.work__blok-item-four:hover .work__img-four {
  background: url(../img/icons4.png) center/cover no-repeat;
}

.work__blok-item-four:hover .work__title {
  color: #c7b299;
}

.work__blok-item-four:hover .work__subtitle::after {
  background: #c7b299;
}

.work__blok-item,
.work__blok-item-twe,
.work__blok-item-three,
.work__blok-item-four {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

.ideas {
  background: #fbfaf8;
  padding-top: 85px;
}

.title__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  margin: 30px 0 40px;
  color: #c2bdbd;
  max-width: 765px;
}

.ideas__photo img {
  max-width: 100%;
}

.template {
  background: url(../img/temlape.png) center/cover no-repeat;
  height: 150px;
  padding: 50px 30px;
}

.template__blok {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.templete__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.templete__title span {
  color: #bfab93;
}

.template__subtitle {
  margin-top: 17px;
  font-size: 18px;
  color: #615855;
}

.template__btn {
  display: block;
  padding: 15px 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  background: #998675;
  border-radius: 3px;
  font-weight: 800;
  font-size: 14px;
  box-shadow: 0 3px 0 #736357;
  top: 0;
  transition: all 0.3s ease;
}

.template__btn:hover {
  background-color: #a07e60;
  box-shadow: 0 3px 0 #6d5d50;
}

.template__btn:active {
  top: 2px;
  box-shadow: 0 1px 0 #6d5d50;
}

.projects {
  padding: 80px 0;
}

.projects__button {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__btn {
  margin-right: 30px;
  padding: 9px 18px;
  color: #8c8c8c;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  transition: all .5s ease;
}

.projects__active {
  background-color: #998675;
  color: #fff;
  border: 1px solid #998675;
}

.filter-div {
  float: left;
  display: none;
}

.show {
  display: block;
}

.projects__btn.active {
  background-color: #998675;
  color: #fff;
  border: 1px solid #998675;
}

.projects__button a:last-child {
  margin-right: 0;
}

.projects__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
  min-height: 370px;
}

.projects__block-item {
  background: #fbfaf8;
  width: 32%;
  height: 340px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.projects__block-item:hover .projects__text {
  background: #362f2d;
}

.projects__block-item:hover .projects__text::before {
  border-bottom: 15px solid #362f2d;
}

.projects__block-item:hover .projects__title {
  color: #fff;
}

.projects__block-item:hover .project__subtitle {
  color: #c7b299;
}

.projects__block-item:hover .project__shadow {
  opacity: 1;
}

.projects__images {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.translate__image {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate3d(-35%, -35%, 0);
  z-index: 2;
}

.translate__images {
  position: absolute;
  top: 22%;
  left: 74%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}

.projects__text {
  width: 100%;
  background: #fbfaf8;
  padding: 30px 0 30px 30px;
  transition: all .5s ease;
  z-index: 3;
  position: absolute;
  bottom: 0;
}

.projects__text::before {
  content: "";
  position: relative;
  top: -60px;
  left: 20px;
  width: 30px;
  height: 30px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  background-color: transparent;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.projects__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  margin: 0 0 15px;
  transition: all .5s ease;
}

.project__subtitle {
  color: #d1d1d1;
  transition: all .5s ease;
}

.project__shadow {
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  opacity: 0;
  transition: all .5s ease;
}

#project__btns {
  margin: 0 auto;
  margin-top: 20px;
}

.muvies {
  background: url(../img/bgc2.jpg) center/cover no-repeat;
  width: 100%;
  padding: 205px 0;
}

.muvies__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.muvies__icon {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 10px;
}

.muvies__icon:focus {
  transform: scale(1.03);
}

.muvies__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 45px 0 30px;
}

.muvies__subtitle {
  font-size: 16px;
  margin-bottom: 45px;
  font-weight: 400;
  max-width: 525px;
  text-align: center;
  line-height: 30px;
}

.muvies__block span {
  font-weight: 400;
  color: #c7b299;
}

.mobdevice {
  background-color: #fbfaf8;
}

.mobdevice__block {
  display: flex;
  max-height: 100%;
}

.mobdevice__images {
  max-width: 425px;
  margin-right: 35px;
  margin-left: 60px;
}

.mobdevice__images img {
  height: 100%;
  width: 100%;
}

.mobdevice__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobdevice__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #555555;
}

.mobdevice__subtitle {
  font-size: 16px;
  color: #8c8c8c;
  margin: 40px 0 70px;
  line-height: 26px;
  max-width: 670px;
}

.mobdevice__list {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.mobdevice__item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8c8c8c;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s ease;
}

.mobdevice__item:hover {
  color: #c7b299;
}

.mobdevice__item:last-child {
  margin-bottom: 0;
}

.mobdevice__item::before {
  content: '>';
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #c7b299;
  left: -35px;
  top: -4px;
  color: #fff;
  border-radius: 50%;
  font-size: 22px;
  padding: 0px 7px 3px 8px;
}

.numbers {
  background: url(../img/Bgi4.png) center/cover no-repeat;
  padding: 70px 0;
}

#counter {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.numbers__item {
  text-align: center;
  width: 25%;
  margin-bottom: 30px;
}

.numbers__item:last-child {
  margin-right: 0px;
}

.number {
  font-size: 40px;
  color: #fff;
  margin: 30px 0 20px;
  opacity: 1;
}

.viz {
  opacity: 1;
  transition: all 0.5s ease;
}

.numbers__text {
  text-transform: uppercase;
  color: #c7b299;
  font-size: 15px;
  position: relative;
}

.numbers__text::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  position: absolute;
  background: #fff;
  top: 33px;
  right: 45%;
}

.posts {
  padding: 80px 0;
}

.posts__block {
  display: flex;
  width: 100%;
}

.posts__item {
  width: 33%;
  margin: 0 15px;
  position: relative;
}

.posts__images {
  position: relative;
  overflow: hidden;
  padding-bottom: 58%;
}

.posts__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.posts__data {
  position: absolute;
  z-index: 4;
  margin: 20px 0 0 20px;
}

.posts__number {
  font-size: 24px;
  color: #fff;
  text-align: center;
  background-color: #363636;
  padding: 10px 13px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: all .3s ease;
}

.posts__month {
  padding: 7px 13.5px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background-color: #252525;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all .3s ease;
}

.posts__shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  z-index: 3;
  opacity: 0;
  font-size: 0;
  transition: all .3s ease;
}

.posts__text {
  padding: 30px 0 35px 30px;
  border: 2px solid #f8f8f8;
  border-top: none;
}

.posts__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #555555;
  transition: all .3s ease;
}

.posts__subtitle {
  color: #8c8c8c;
  line-height: 24px;
  margin: 25px 0 30px;
  transition: all .3s ease;
}

.posts__link {
  color: #c7b299;
  position: relative;
  display: inline-block;
  transition: transform .3s ease;
}

.posts__link::after {
  content: "";
  position: relative;
  display: inline-block;
  top: 0px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 8px solid #c7b299;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.posts__link:hover {
  transform: scale(1.1);
}

.posts__item:hover .posts__text {
  background-color: #362f2d;
  border: 2px solid #362f2d;
  border-top: none;
  transition: all .4s ease;
}

.posts__item:hover .posts__title {
  color: #c7b299;
  transition: all .5s ease;
}

.posts__item:hover .posts__subtitle {
  color: #fff;
  transition: all .5s ease;
}

.posts__item:hover .posts__number {
  background-color: #c7b299;
  transition: all .4s ease;
}

.posts__item:hover .posts__month {
  background-color: #a48d72;
  transition: all .5s ease;
}

.posts__item:hover .posts__shadow {
  opacity: 1;
  transition: opacity .5s ease;
}

.logos {
  background: url(../img/bgi5.png) center/cover no-repeat;
  padding: 135px 0;
}

.logos__images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logos__img {
  text-align: center;
}

.logos__img img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #191919;
  padding: 100px 0 80px;
}

.footer__block {
  display: flex;
  flex-wrap: wrap;
}

.footer__colomn {
  flex: 1 0 25%;
  padding: 0 15px;
}

.footer__colomn p {
  font-weight: 400;
  text-align: justify;
  color: #555;
  margin: 30px 0 60px;
  line-height: 25px;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo span {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
}

.footer__button {
  font-weight: 400;
  display: inline-block;
  color: #d1d1d1;
  transition: all .3s ease;
}

.footer__button::after {
  content: "";
  position: relative;
  display: inline-block;
  top: 0px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 8px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.footer__button:hover {
  color: #c7b299;
  transform: scale(1.1);
}

.footer__acordion {
  flex: 1 0 25%;
  padding: 0 15px;
  padding-top: 20px;
}

.footer__acordion:last-child {
  margin-right: 0;
}

.footer__post {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 33px;
  position: relative;
}

.footer__post::after {
  content: "";
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 15px solid #fff;
  border-right: 10px solid transparent;
  transition: all .5s ease;
}

.footer__text {
  position: relative;
  margin-bottom: 45px;
  line-height: 25px;
}

.footer__text:last-child {
  margin-bottom: 0;
}

.footer__text:not(:last-child):after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #252525;
  display: block;
  margin-top: 24px;
}

.footer__text p {
  color: #555555;
  transition: all .5s ease;
}

.footer__underline {
  color: #555555;
}

.footer__underline a {
  color: #959595;
}

.footer__underline a:hover {
  text-decoration: underline;
}

.footer__text span {
  color: #363636;
  transition: all .5s ease;
}

.footer__text-link span.color-blue {
  color: #00bff3;
}

.footer__text:hover .footer__text-link p {
  color: #c7b299;
}

.footer__text:hover .footer__text-link span {
  color: #fff;
}

.footer__text:hover .footer__text-link span.color-blue {
  color: #00bff3;
}

.footer__widget {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.footer__widget img {
  padding: 0 5px;
  flex: 1 0 50%;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.footer__widget img:hover {
  transform: scale(1.05);
}

.support {
  background-color: #111111;
  padding: 46px 0 53px 0;
}

.support__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.support__item {
  font-size: 13px;
  color: #555555;
  display: flex;
}

.support__item li a:hover {
  color: #c7b299;
}

.support__item span {
  color: #959595;
}

.support__item li a {
  color: #555555;
  transition: all 0.3s ease;
}

.support__block ul li:not(:last-child)::after {
  content: '';
  display: inline-block;
  height: 13px;
  width: 2px;
  background: #1e1e1e;
  margin: 0 10px;
}

@media (max-width: 1101px) {
  .mobdevice__item {
    font-size: 14px;
  }

  .mobdevice__images {
    margin-left: 10px;
  }
}

@media (max-width: 1025px) {
  .container {
    padding: 0 15px;
  }

  .image-slider {
    padding: 0px  108px;
  }

  header {
    height: 600px;
  }

  .header__menu-list li a {
    margin-right: 15px;
  }

  .header__logo-item {
    font-size: 25px;
  }

  .header__logo img {
    width: 55px;
    height: 46px;
  }

  .header__title {
    padding-top: 190px;
  }

  .header__title h2 {
    font-size: 30px;
  }

  .header__title h1 {
    font-size: 48px;
    margin: 0px 0 15px;
  }

  .header__title p {
    font-size: 15px;
  }

  .btn {
    padding: 17px 35px;
    margin: 30px auto 0;
  }

  .template__btn {
    padding: 17px 35px;
  }
}

@media (max-width: 1024px) {
  .posts__title {
    font-size: 18px;
  }

  .posts__subtitle {
    font-size: 13px;
    line-height: 18px;
    margin: 20px 0 25px;
  }

  .posts__text {
    padding: 15px 10px 20px 15px;
  }

  .posts__data {
    margin: 10px 0 0 10px;
  }

  .posts__number {
    font-size: 20px;
    padding: 8px 10px;
  }

  .posts__month {
    padding: 7px 13.5px;
    font-size: 12px;
  }

  .logos__img img {
    width: 60%;
  }

  .logos {
    padding: 35px 0;
  }

  .logos__images {
    margin: 0 auto;
    justify-content: space-between;
  }
}

@media (max-width: 1005px) {
  .work {
    padding: 65px 0;
  }

  .work__title {
    font-size: 19px;
    margin-top: 15px;
  }

  .work__subtitle {
    margin-top: 18px;
  }

  .work__subtitle::after {
    margin: 20px auto 0;
  }
}

@media (max-width: 990px) {
  .mobdevice__list {
    margin-left: 50px;
  }

  .mobdevice__subtitle {
    font-size: 15px;
    margin: 25px 0 40px;
    line-height: 20px;
  }

  .mobdevice__title {
    font-size: 25px;
  }
}

@media (max-width: 900px) {
  .header__menu-link a {
    margin-right: 10px;
  }

  .header__menu-link a:last-child {
    margin-right: 5px;
  }
}

@media (max-width: 890px) {
  .mobdevice__item::before {
    left: -25px;
    top: -4px;
    font-size: 18px;
    padding: 0 5px 2px 6px;
  }

  .mobdevice__list {
    margin-left: 30px;
  }
}

@media (max-width: 850px) {
  .template__btn {
    padding: 15px 25px;
  }

  .templete__title {
    font-size: 25px;
  }

  .template__subtitle {
    margin-top: 10px;
    font-size: 15px;
  }

  .support {
    padding: 30px 0;
  }

  .support__item {
    font-size: 12px;
  }
}

@media (max-width: 769px) {
  .ideas {
    padding-top: 50px;
  }

  .subtitle {
    font-size: 15px;
    margin: 15px 0 40px;
  }

  .template__btn {
    padding: 12px 20px;
    font-size: 13px;
  }

  .templete__title {
    font-size: 21px;
  }

  .template__subtitle {
    margin-top: 10px;
    font-size: 14px;
  }

  .projects__block-item {
    width: 49%;
    margin-bottom: 15px;
  }

  .projects {
    padding: 50px 0;
  }

  .projects__button {
    margin: 0px 0 15px;
  }

  .projects__btn {
    margin-right: 10px;
  }

  .muvies {
    padding: 150px 0;
  }

  .numbers {
    padding: 30px 0 0;
  }

  .numbers__icon {
    width: 35px;
  }

  #counter {
    flex-wrap: wrap;
    justify-content: center;
  }

  .numbers__item {
    text-align: center;
    width: 33%;
    margin-bottom: 50px;
  }

  .number {
    font-size: 25px;
    color: #fff;
    margin: 20px 0 15px;
  }

  .numbers__text {
    font-size: 15px;
  }

  .numbers__text::before {
    top: 33px;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header {
    height: 500px;
    padding: 0 0 0;
  }

  .header.fixed {
    padding: 5px 15px 0;
  }

  .header__logo {
    display: flex;
    align-items: center;
    flex: 0 0 0;
    order: 2;
  }

  .header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
  }

  .header__nav {
    height: 50px;
    align-items: center;
    padding: 20px 0 0;
    margin: 0 10px;
    z-index: 2;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    right: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu-item {
    color: #fff;
  }

  .header__menu-link {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #373232;
    padding: 30px 0 0 0;
    order: 1;
  }

  .header__menu.active {
    top: 0;
    transition: all 0.3s ease 0s;
  }

  .search {
    order: 3;
  }

  .search a i {
    font-size: 22px;
  }

  .header__menu-link a {
    margin: 0 0 30px 0;
  }

  .header__menu-link a {
    margin-right: 0;
    font-size: 25px;
  }

  .mobdevice__subtitle {
    font-size: 13px;
    margin: 15px 0 25px;
  }

  .mobdevice__images img {
    height: 100%;
    width: 85%;
  }

  .mobdevice__images {
    max-width: 340px;
    margin: 0;
  }

  .mobdevice__item {
    font-size: 13px;
  }

  .posts__title {
    font-size: 15px;
    color: #c7b299;
    transition: all .5s ease;
  }

  .posts__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin: 15px 0 20px;
    color: #fff;
    transition: all .5s ease;
  }

  .posts__shadow {
    opacity: 1;
  }

  .posts__text {
    padding: 10px 5px 10px 10px;
    background-color: #362f2d;
    border: 2px solid #362f2d;
    border-top: none;
    transition: all .4s ease;
  }

  .posts__data {
    margin: 5px 0 0 5px;
  }

  .posts__number {
    font-size: 18px;
    padding: 5px 7px;
    background-color: #c7b299;
    transition: all .4s ease;
  }

  .posts__month {
    padding: 5px 10px;
    font-size: 11px;
    background-color: #a48d72;
    transition: all .5s ease;
  }

  .logos__img img {
    width: 60%;
  }

  .logos {
    padding: 35px 0;
  }

  .logos__images {
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__colomn {
    flex: 1 0 33%;
    padding: 0 10px;
  }

  .footer__logo img {
    width: 90%;
  }

  .footer__logo span {
    font-size: 25px;
  }

  .footer__colomn p {
    font-weight: 400;
    text-align: justify;
    color: #555;
    margin: 20px 0 30px;
    line-height: 15px;
  }

  .footer__acordion {
    flex: 1 0 33%;
    padding: 0 10px;
    padding-top: 0;
  }

  .footer__post {
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #fff;
    margin-bottom: 10px;
  }

  .footer__text {
    position: relative;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 13px;
  }

  .footer__text:not(:last-child):after {
    margin-top: 10px;
  }
}

@media (max-width: 760px) {
  .work__title {
    font-size: 16px;
    margin-top: 15px;
  }

  .work__subtitle {
    font-size: 13px;
  }

  .work__img-three,
  .work__img-twe,
  .work__img {
    width: 37px;
    height: 37px;
  }

  .work__img-four {
    width: 51px;
    height: 37px;
  }
}

@media (max-width: 756px) {
  .mobdevice {
    padding: 50px 0;
  }

  .mobdevice__list {
    margin-left: 40px;
  }

  .mobdevice__images {
    display: none;
  }

  .mobdevice__item {
    font-size: 12px;
  }

  .mobdevice__title {
    font-size: 20px;
  }

  .mobdevice__item::before {
    left: -25px;
    top: -4px;
    font-size: 18px;
    padding: 0 5px 2px 6px;
  }

  .mobdevice__item::before {
    left: -24px;
    top: -1px;
    font-size: 15px;
    padding: 0 5px 2px 6px;
  }

  .posts__block {
    flex-wrap: wrap;
    justify-content: center;
  }

  .posts__item {
    width: 45%;
    margin-bottom: 30px;
  }

  .posts__title {
    font-size: 18px;
  }

  .posts__subtitle {
    font-size: 13px;
    line-height: 18px;
    margin: 20px 0 25px;
  }

  .posts__text {
    padding: 15px 10px 20px 15px;
  }

  .posts__data {
    margin: 10px 0 0 10px;
  }

  .posts__number {
    font-size: 20px;
    padding: 8px 10px;
  }

  .posts__month {
    padding: 7px 13.5px;
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  .support {
    padding: 20px 0;
  }

  .support__block {
    display: flex;
    flex-direction: column;
  }

  .support__item {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .support__item li {
    margin-bottom: 15px;
  }
}

@media (max-width: 703px) {
  .work__blok-item,
  .work__blok-item-twe,
  .work__blok-item-three,
  .work__blok-item-four {
    width: 50%;
    margin-bottom: 20px;
  }

  .work__title {
    margin: 15px 0 10px;
  }

  .work__subtitle {
    margin: 0 auto;
  }

  .work__subtitle::after {
    margin: 10px auto 0;
  }
}

@media (max-width: 700px) {
  .logos__images {
    flex-wrap: wrap;
    width: 80%;
  }

  .logos__img img {
    width: 50%;
  }

  .logos__img {
    margin-bottom: 20px;
  }
}

@media (max-width: 670px) {
  .template {
    height: 100px;
    padding: 30px 15px;
  }

  .template__btn {
    padding: 10px 13px;
    font-size: 12px;
  }

  .templete__title {
    font-size: 19px;
  }

  .template__subtitle {
    margin-top: 10px;
    font-size: 13px;
  }
}

@media (max-width: 650px) {
  .header__title h2 {
    font-size: 25px;
  }

  .header__title h1 {
    font-size: 38px;
    margin: 10px 0 10px;
  }

  .header__title p {
    font-size: 13px;
  }

  .btn {
    padding: 13px 20px;
    margin: 20px auto 0;
    font-size: 13px;
  }
}

@media (max-width: 635px) {
  .muvies__title {
    font-size: 25px;
    margin: 35px 0 20px;
  }

  .muvies__subtitle {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 25px;
  }
}

@media (max-width: 630px) {
  .posts__item {
    width: 44%;
  }

  .posts__title {
    font-size: 15px;
  }

  .posts__subtitle {
    font-size: 12px;
    line-height: 14px;
    margin: 15px 0 20px;
  }

  .posts__text {
    padding: 10px 5px 10px 10px;
  }

  .posts__data {
    margin: 5px 0 0 5px;
  }

  .posts__number {
    font-size: 15px;
    padding: 8px 10px;
  }

  .posts__month {
    padding: 7px 13.5px;
    font-size: 12px;
  }
}

@media (max-width: 621px) {
  .title {
    font-size: 25px;
  }
}

@media (max-width: 618px) {
  .projects__btn {
    padding: 5px 15px;
    margin-bottom: 10px;
  }

  .projects__block-item {
    height: 300px;
  }

  .projects__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #c7b299;
    margin: 0 0 10px;
    transition: all .5s ease;
  }

  .project__subtitle {
    font-size: 13px;
    color: #d1d1d1;
    transition: all .5s ease;
  }

  .projects__text {
    width: 100%;
    background: #fbfaf8;
    padding: 15px 0 15px 15px;
    transition: all .5s ease;
    z-index: 3;
    position: absolute;
    bottom: 0;
  }

  .projects__text::before {
    content: "";
    position: relative;
    top: -45px;
    left: 20px;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    background-color: transparent;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  #project__btns {
    padding: 15px 25px;
    font-size: 12px;
  }
}

@media (max-width: 560px) {
  .template {
    height: 100px;
    padding: 25px 15px;
  }

  .template__btn {
    padding: 10px 13px;
    font-size: 11px;
  }

  .templete__title {
    font-size: 17px;
  }

  .template__subtitle {
    margin-top: 10px;
    font-size: 13px;
  }
}

@media (max-width: 554px) {
  .logos {
    padding: 20px 0;
  }

  .logos__images {
    flex-wrap: wrap;
    width: 90%;
  }

  .logos__img {
    margin-bottom: 15px;
  }
}

@media (max-width: 530px) {
  .template {
    height: 130px;
    padding: 20px 10px;
  }

  .template__blok {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .template__text {
    text-align: center;
    margin-bottom: 15px;
  }

  .template__btn {
    margin: 0 auto;
  }

  .posts {
    padding: 40px 0;
  }

  .posts__item {
    width: 90%;
  }

  .posts__title {
    font-size: 18px;
  }

  .posts__subtitle {
    font-size: 13px;
    line-height: 18px;
    margin: 20px 0 25px;
  }

  .posts__text {
    padding: 15px 10px 20px 15px;
  }

  .posts__data {
    margin: 10px 0 0 10px;
  }

  .posts__number {
    font-size: 20px;
    padding: 8px 10px;
  }

  .posts__month {
    padding: 7px 13.5px;
    font-size: 12px;
  }
}

@media (max-width: 521px) {
  .header__title h1 {
    font-size: 35px;
  }
}

@media (max-width: 518px) {
  .projects {
    padding: 30px 0;
  }

  .projects__block {
    padding: 0 5px;
  }

  .projects__block-item {
    height: 280px;
  }

  .projects__button {
    margin: 0px 0 10px;
  }

  .projects__block-item {
    width: 70%;
    margin: 0 auto 15px;
  }
}

@media (max-width: 515px) {
  .title {
    font-size: 20px;
  }

  .subtitle {
    margin: 15px 0 25px;
  }
}

@media (max-width: 500px) {
  .logos {
    padding: 15px 0 5px;
  }

  .logos__images {
    width: 80%;
  }

  .logos__img {
    width: 40%;
  }

  .logos__img img {
    width: 60%;
  }

  .logos__img {
    margin-bottom: 10px;
  }
}

@media (max-width: 483px) {
  .header__logo img {
    width: 50px;
    height: 41px;
  }

  .header__logo-item {
    font-size: 22px;
  }

  .header.fixed {
    height: 60px;
    padding: 0px 15px 0;
  }

  .header__burger {
    width: 35px;
  }

  .header__title h2 {
    font-size: 20px;
  }

  .header__title h1 {
    font-size: 29px;
  }
}

@media (max-width: 450px) {
  .projects__block-item {
    width: 90%;
    margin: 0 auto 15px;
  }
}

@media (max-width: 438px) {
  .work__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 426px) {
  .work__blok {
    display: block;
  }

  .work__blok-item,
  .work__blok-item-twe,
  .work__blok-item-three,
  .work__blok-item-four {
    margin: 0 auto 20px;
    width: 100%;
  }

  .work__img,
  .work__img-three,
  .work__img-twe {
    width: 40px;
    height: 40px;
  }

  .work__img-four {
    width: 55px;
    height: 40px;
  }

  .work__title {
    font-size: 15px;
  }

  .work {
    padding: 30px 0;
  }

  .muvies__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
  }

  .muvies {
    padding: 150px 0 50px 0;
  }

  .muvies__title {
    font-size: 20px;
    margin: 30px 0 25px;
  }
}

@media (max-width: 425px) {
  .numbers__item {
    text-align: center;
    width: 49%;
  }

  .numbers__text::before {
    right: 43%;
  }

  .footer {
    padding: 20px 0 10px;
  }

  .footer__content {
    display: none;
  }

  .footer__colomn {
    flex: 1 0 100%;
    padding: 0 0;
    margin-bottom: 20px;
  }

  .footer__acordion {
    flex: 1 0 100%;
    padding: 0 0;
    margin-bottom: 15px;
  }

  .footer__colomn p {
    margin: 15px 0 15px;
  }

  .footer__post {
    font-size: 22px;
  }

  .footer__post::after {
    display: inline-block;
  }

  .footer__post.active::after {
    transform: rotate(180deg);
  }

  .support__item {
    font-size: 11px;
    display: flex;
    align-items: center;
  }

  .support__block ul li:not(:last-child)::after {
    margin: 0 5px;
    height: 10px;
  }
}

@media (max-width: 401px) {
  .ideas {
    padding-top: 40px;
  }

  .title {
    font-size: 17px;
  }

  .subtitle {
    margin: 10px 0 20px;
  }
}

@media (max-width: 387px) {
  header {
    height: 450px;
  }

  .header__title h1 {
    font-size: 25px;
  }

  .header__title p {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
  }

  .header__title h2 {
    font-size: 18px;
  }

  .templete__title {
    font-size: 16px;
  }

  .template__subtitle {
    margin-top: 10px;
    font-size: 11px;
  }

  .template__btn {
    padding: 10px 13px;
    font-size: 11px;
  }
}

@media (max-width: 375px) {
  .number {
    font-size: 20px;
    color: #fff;
    margin: 10px 0 10px;
  }

  .numbers__text {
    font-size: 14px;
  }

  .numbers__text::before {
    right: 41%;
  }

  .logos {
    padding: 15px 0;
  }

  .logos__img {
    width: 40%;
  }

  .logos__img img {
    width: 65%;
  }

  .footer__post {
    font-size: 19px;
  }

  .support {
    padding: 10px 0;
  }

  .support__block {
    display: block;
  }

  .support__item {
    display: block;
    font-size: 11px;
    margin-bottom: 10px;
  }

  .support__item:last-child {
    margin-bottom: 10px;
  }

  .support__block ul li:not(:last-child)::after {
    content: '';
    display: none;
  }

  .support__item li {
    margin-bottom: 10px;
  }

  .support__item li:last-child {
    margin-bottom: 0px;
  }
}

@media (max-width: 356px) {
  .templete__title {
    font-size: 15px;
  }

  .template__subtitle {
    margin-top: 10px;
    font-size: 11px;
  }

  .template__btn {
    padding: 10px 13px;
    font-size: 11px;
  }

  .template {
    height: 110px;
    padding: 20px 10px;
  }
}

@media (max-width: 350px) {
  .header__title h1 {
    font-size: 23px;
  }

  .header__logo img {
    width: 45px;
    height: 36px;
  }

  .header__logo-item {
    font-size: 20px;
  }

  .header__burger {
    width: 30px;
  }

  .btn {
    font-weight: 700;
    padding: 11px 18px;
    margin: 11px auto 0;
    font-size: 12px;
  }
}

@media (max-width: 334px) {
  .templete__title {
    font-size: 14px;
  }

  .template__subtitle {
    margin-top: 10px;
    font-size: 10px;
  }

  .template__btn {
    padding: 7px 10px;
    font-size: 10px;
  }
}

@media (max-width: 331px) {
  .header__title h1 {
    font-size: 22px;
    margin: 5px 0 10px;
  }

  .header__title h2 {
    font-size: 17px;
  }

  .header__inner {
    padding-top: 5px;
  }

  .header.fixed {
    height: 47px;
  }
}

@media (max-width: 321px) {
  .ideas {
    padding-top: 30px;
  }

  .title {
    font-size: 17px;
  }

  .subtitle {
    font-size: 14px;
    margin: 10px 0 15px;
  }

  .numbers__text::before {
    right: 39%;
  }

  .numbers__2 {
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .posts__title {
    font-size: 15px;
  }

  .posts__subtitle {
    font-size: 12px;
    line-height: 14px;
    margin: 15px 0 20px;
  }

  .posts__text {
    padding: 10px 5px 10px 10px;
  }

  .posts__data {
    margin: 5px 0 0 5px;
  }

  .posts__number {
    font-size: 15px;
    padding: 8px 10px;
  }

  .posts__month {
    padding: 7px 13.5px;
    font-size: 12px;
  }
}

.webp .header.fixed{ background: url(../img/temlape.webp) center/cover no-repeat; }

.webp .intro{ background: url(../img/bg1.webp) center/cover no-repeat; }

.webp .work__img{ background: url(../img/icon.webp) center/cover no-repeat; }

.webp .work__blok-item:hover .work__img{ background: url(../img/icons.webp) center/cover no-repeat; }

.webp .work__img-twe{ background: url(../img/icon2.webp) center/cover no-repeat; }

.webp .work__blok-item-twe:hover .work__img-twe{ background: url(../img/icons2.webp) center/cover no-repeat; }

.webp .work__img-three{ background: url(../img/icon3.webp) center/cover no-repeat; }

.webp .work__blok-item-three:hover .work__img-three{ background: url(../img/icons3.webp) center/cover no-repeat; }

.webp .work__img-four{ background: url(../img/icon4.webp) center/cover no-repeat; }

.webp .work__blok-item-four:hover .work__img-four{ background: url(../img/icons4.webp) center/cover no-repeat; }

.webp .template{ background: url(../img/temlape.webp) center/cover no-repeat; }

.webp .muvies{ background: url(../img/bgc2.webp) center/cover no-repeat; }

.webp .numbers{ background: url(../img/Bgi4.webp) center/cover no-repeat; }

.webp .logos{ background: url(../img/bgi5.webp) center/cover no-repeat; }